.form-control {
	position: relative;
	margin-bottom: 34px;

	&_multiple {
		height: auto;
		min-height: 53px;
		cursor: text;

		&:after {
			display: none;
		}
	}

	&.wide {
		width: 100%;
	}

	&.bx {
		width: 100%;
		margin-bottom: 0;

		&:after {
			display: none;
		}
	}

	&.filter {
		margin: 0;

		@media (max-width: 767px) {
			flex-grow: 1;
		}
	}
	&_radio {
		margin-bottom: 3px;
	}

	&_textarea {
		width: 100%;
		background-color: #f3f3f3;
		border-radius: 5px 5px 0 0;
		// overflow: hidden;
		
		.form-control__textarea {
			height: 260px;
		}

		&.bx{
			.form-control__textarea {
				height: auto;
				min-height: 75px;
			}
		}
	}

	&_xs {
		.form-control__textarea {
			height: 104px;
		}
	}

	&_compact {
		margin-bottom: 9px;
	}

	&_one-line {
		.form-control__textarea {
			height: 53px;
		}
	}

	&_simple {
		margin: 0;
	}

	&_sm {
		margin: 0;
	}

	&.disabled {
		cursor: not-allowed;
	}

	&__wrap {
		overflow: hidden;
		width: 100%;
		height: 53px;
		position: relative;
		background-color: #f3f3f3;
		border-radius: 5px 5px 0 0;

		.form-control_multiple & {
			height: auto;
			min-height: 53px;
		}

		.form-control_dark & {
			background-color: #eeeef0;
		}

		.form-control_sm & {
			height: 41px;
		}

		&:after { // input text overflow shadower
			content: '';
			display: block;
			width: 60px;
			position: absolute;
			z-index: 10;
			top: 0;
			bottom: 2px;
			right: 0;
			background: linear-gradient(90deg, rgba(243,243,243,0) 0, rgba(243,243,243,.95) 50%);
			pointer-events: none;
			border-radius: 0 5px 0 0;

			.form-control_btn-end & {
				right: 40px;
			}

			.form-control_dark & {
				background: linear-gradient(90deg, rgba(0,0,0,0) 0, #eeeef0 50%);
			}
		}

		&_date {
			height: 40px;
			max-width: 165px;
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		min-height: 53px;
		height: auto;
		padding: 25px 0 0 13px;
		// margin: 0 0 -25px;
	}

	&__textarea {
		border: none;
		background: rgba(0,0,0,0);
		width: 100%;
		max-width: 100%;
		height: 53px;
		padding: 0 17px;
		box-shadow: none;
		outline: none;
		box-sizing: border-box;
		font-size: 18px;
		font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
		color: #232631;
		font-weight: 400;
		padding: 23px 17px 5px;
		min-height: 53px;

		.form-control_one-line & {
			padding-top: 24px;
		}
	}

	&__input {
		border: none;
		background: transparent;
		width: 100%;
		max-width: 100%;
		height: 53px;
		padding: 0 17px;
		box-shadow: none;
		outline: none;
		box-sizing: border-box;
		font-family: Lato;
		font-size: 18px;
		transition: all 0.3s ease;
		font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
		color: #232631;
		font-weight: 400;

		&:focus,
		.form-control__wrap:not(.empty) &:valid,
		&.filled,
		&.focus,
		&:disabled,
		.autocomplete_show & {
			margin: 18px 0 0 0;
			height: 32px;

			.form-control_simple &,
			.form-control_sm & {
				margin: 0;
				height: 100%;
			}
		}

		&_date {
			.form-control__wrap:not(.empty) &:valid {
				margin: 0;
				height: 100%;
			}
		}

		.form-control_multiple &{
			width: 30px;
			height: 25px;
			padding: 0;

			&:focus, &:valid, &:active {
				margin: 0;
				height: 25px;
			}
		}

		.bx & {
			font-size: 13px;
			padding: 0 12px;
		}

		&_required {
			& + .form-control__label {
				&:after {
					content: '*';
					color: #ed5f87;
					padding: 0 0 0 5px;
				}
			}
		}

		.social &,
		.form-control_btned:not(.form-control_btn-end) & {
			padding: 0 17px 0 66px;
		}

		.form-control_btn-end & {
			padding: 0 66px 0 17px;
		}

		.error &{
			border-color: #ff5959;
		}

		.filter & {
			padding: 0 0 0 46px;
		}
		.disabled & {
			color: #8c8c8c;
			pointer-events: none;
		}

		&::-ms-clear {
			display: none;
		}

		&::-ms-reveal {
			display: none;
		}

		&::-webkit-input-placeholder {
			color: transparent !important;
		}

		&:-moz-placeholder {
			color: transparent !important;
		}

		&::-moz-placeholder {
			color: transparent !important;
		}

		&:-ms-input-placeholder {
			color: transparent !important;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover, 
		&:-webkit-autofill:focus {
			-webkit-box-shadow: 0 0 0px 1000px #f3f3f3 inset;
			transition: background-color 5000s ease-in-out 0s;
		}
	}
	
	&__input-link {
		width: 52px;
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #e8e8e8;
		border-right: 1px solid #e1e1e1;
		text-decoration: none;
		color: #8c8d93;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 24px;

		&:hover {
			text-decoration: none;
			color: #8c8d93;
		}

		&.icon-trip {
			font-size: 18px;
		}

		.plus & {
			left: initial;
			right: 0;
			z-index: 1;
			font-size: 28px;
		}
	}

	&__label {
		position: absolute;
		top: 15px;
		left: 17px;
		color: #a09b95;
		font-size: 19px;
		font-weight: 400;
		transition: color .25s, top .25s, left .25s, font-size .25s;
		pointer-events: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 100%;
		padding: 0 20px 0 0;
		user-select: none;

		.error & {
			color: #ff5959;
		}

		.weak &,
		.warn & {
			color: #d3b056;
		}

		.success & {
			color: #3dc728;
		}

		.filter &{
			left: 46px;
		}

		.active & {
			top: 7px;
			left: 17px;
			color: #7291ed;
			font-size: 14px;
		}

		.bx & {
			font-size: 13px;
			top: 20px;
			left: 12px;
		}

		.social &,
		.form-control_btned:not(.form-control_btn-end) & {
			left: 66px;
		}

		// required - * symbol
		.form-control__input[required] + &:after {
			transition: color .25s, font-size .25s;
			content: '*';
			display: inline-block;
			vertical-align: top;
			margin: -3px 0 0 2px;
			color: #c1c1c1;
		}

		.form-control__input:focus + &,
		.form-control__wrap:not(.empty) .form-control__input:valid + &,
		.form-control__input.filled + &,
		.form-control__input.focus + &,
		.form-control__input:disabled + &,
		.autocomplete_show .form-control__input + &,
		.form-control__textarea:focus + &,
		.form-control_textarea:not(.empty) .form-control__textarea:valid + &,
		.form-control__textarea.filled + &,
		.form-control__textarea.focus + &,
		.form-control__textarea:disabled + &,
		.autocomplete_show .form-control__textarea + & {
			top: 4px;
			left: 17px;
			color: #90a9fa;
			font-size: 14px;
			
			.filter & {
				left: 46px;
			}

			.bx & {
				font-size: 11px;
				left: 12px;
			}

			.social &,
			.form-control_btned:not(.form-control_btn-end) &,
			.form-control_btned:not(.form-control_btn-end)&, {
				left: 66px;
			}

			[required]&:after {
				font-size: 16px;
				color: #db8989;

				.disabled & {
					color: #acacac;
				}
			}
			
			.disabled & {
				color: #acacac;
			}

			.error & {
					color: #ff5959;
			}

			.weak &,
			.warn & {
				color: #d6b04d;
			}

			.success & {
				color: #3dc728;
			}
		}

		.form-control_simple &,
		.form-control_sm &{
			display: none;
		}
	}

	&__line {
		display: block;
		width: 100%;
		height: 1px;
		background: #9c9ea1;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 200;
		pointer-events: none;

		.anim &{
			// animation: inputAnimation 500ms ease;
		}

		.error & {
			background: #ff5959;
		}

		.valid & {
			background: #377efd;
		}

		.success &{
			background: #1cb720;
		}

		.weak &,
		.warn & {
			background: #cdaa4e;
		}

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: 5;
			bottom: 0;
			height: 2px;
			width: 0;
			background: #9c9ea1;
			transition: width .25s ease-in-out;

			.form-control__input:focus ~ &,
			.form-control__textarea:focus ~ &,
			.autocomplete_show & {
				width: 50%;
				background: #377efd;

				.error &,
				.error& {
					background: #ff5959;
				}

				.success &{
					background: #a1dd98;
				}

				.weak &,
				.warn & {
					background: #cdaa4e;
				}
			}
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}

		.disabled & {
			display: none;
		}

	}

	&__clear {
		width: 15px;
		height: 15px;
		display: block;
		position: absolute;
		top: 16px;
		right: 15px;
		opacity: 0.7;

		svg {
			width: 100%;
			height: 100%;
		}
	}
	
	&__icon {
		position: absolute;
		z-index: 100;
		top: 15px;
		right: 10px;
		font-size: 26px;
		color: #aaacaf;
		transform: scale(0);
		transition: transform 0.5s ease;

		.show &,
		&.show {
			transform: scale(1)
		}

		&.icon-spinner {
			display: block;
			width: 26px;
			height: 26px;

			&.show {
				animation: rotate 1800ms linear infinite;
			}
		}

		&.icon-lock2 {
			color: #f1d488;
			font-size: 22px;
		}

		&.icon-secure {
			color: #a1dd98;
			font-size: 22px;
		}

		&.icon-check {
			color: #a1dd98;
			font-size: 22px;
		}

		&.icon-sort-asc {
			right: inherit;
			left: 13px;
			top: 13px;
			transform: scale(0.8)
		}

		&.icon-down {
			font-size: 11px;
			top: 20px;
			right: 12px;
			pointer-events: none;

			.autocomplete_show & {
				transform: rotateZ(-179.99999deg);
			}
		}

		&.icon-view {
			font-size: 20px;
		}
		
		&.icon-calendar {
			transform: scale(1);
			top: 9px;
			font-size: 20px;
		}

		&_search {
			transform: scale(1) translateY(0);
			font-size: 19px;
			text-decoration: none;
			color: #aaacaf;
			padding: 1px;
			transition: transform .15s ease-in-out, background-color .15s ease-in-out;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				color: #aaacaf;

				.weak &,
				.warn & {
					color: darken(#cdaa4e, 7%);
				}
			}

			&:active {
				transform: scale(1) translateY(1px);
			}

			.weak &,
			.warn & {
				color: #cdaa4e;
			}

			.icon-search {

			}
		}

		.filter & {
			right: auto;
			left: 14px;
			font-size: 20px;
		}
	}

	&__dropdown {
		display: none;
		flex-direction: column;
		background: white;
		border-right: 1px solid #fcfcfc;
		border-top: none;
		border-radius: 0 0 5px 5px;
		box-shadow: 0 12px 30px rgba(0, 0, 0, .20);
		max-height: 220px;
		padding: 13px 0 0;
		overflow-y: auto;
		position: relative;
		z-index: 10;
		cursor: default;

		&.active {
			display: flex;
		}
	}

	&__dropdown-item {
		width: 100%; 
		height: 40px;
		padding: 0 0 0 16px;
		align-items: center;
		display: flex;
		cursor: pointer;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_mt {
			margin-top: 30px;
		}
	}

	&__link {
		font-family: 'Lato';
		font-weight: 300;
	}

	&__message {
		position: absolute;
		z-index: 10;
		left: 5px;
		bottom: -21px;
		right: 0;
		color: #9d9ea1;
		font-size: 14px;
		line-height: 1.3;
		padding: 0 5px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 0;

		.error & {
			color: #ff5959;
		}

		.weak &,
		.warn & {
			color: #d6b04d;
		}

		.success & {
			color: #4fc73e;
		}

		.loading & {
			&:before {
				content: '\e952';
				.icomoon();
				display: inline-block;
				vertical-align: middle;
				margin: -4px 1px 0 -5px;
				animation: rotate 1.2s linear infinite;
			}
		}

		.correct & {
			&:before {
				content: '\e90d';
				.icomoon();
				display: inline-block;
				height: 15px;
				width: 14px;
				vertical-align: middle;
				margin: -4px 1px 0 -5px;
			}
		}
	}

	&__form-message {

		&:not(:empty) {
			display: block;
			margin: 0 0 34px;
		}
	}

	&__row {
		display: flex;

		@media(max-width: 1200px) {
			flex-direction: column;
		}
	}

	&__cell {
		flex: 0 0 50%;

		@media(max-width: 1200px) {
			flex: 0 0 100%;
		}

		&_mr {
			padding-right: 20px;

			@media(max-width: 1200px) {
				padding: 0;
			}
		}
	}

	&__btn {
		text-decoration: none;
		color: #8c8d93;
		background-color: #e8e8e8;
		border-right: 1px solid #e1e1e1;
		border-radius: 3px;
		height: 53px;
		width: 53px;
		text-decoration: none;
		transition: all 0.3s ease;
		cursor: pointer;
		z-index: 100;
		position: absolute;
		left: 0;
		top: 0;
		padding: 1px 0 0 0;
		transition: padding .1s ease-in-out, background-color .1s ease-in-out, color .25s ease-in-out;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		line-height: 1;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			color: darken(#8c8d93,10%);
		}

		&:active {
			background-color: darken(#e8e8e8,3%);
			padding: 3px 0 0 0;
		}

		.form-control_btn-end & {
			left: auto;
			right: 0;
			border-left: 1px solid #e1e1e1;
			border-right: 0;
		}

		.icon-youtube {
			font-size: 25px;
		}

		.icon-instagram {
			font-size: 27px;
		}

		.icon-trip_adviser {
			font-size: 32px;
		}

		.icon-plus2 {
			font-size: 26px;
		}

		.icon-arragement {
			font-size: 22px;
			position: relative;
			z-index: 1;

			&:after {
				content: '';
				display: block;
				width: 5px;
				height: 5px;
				background-color: #ff6363;
				border-radius: 2px;
				position: absolute;
				z-index: 1;
				top: 12px;
				left: 7px;
			}
		}
	}

	&__drop-icon {
		position: absolute;
		top: 18px;
		right: 65px;
		font-size: 14px;
		color: #9a9a9a;
		z-index: 1;
		
		&_right {
			right: 12px;
		}
	}

	&__row-add-btn {
		opacity: 0;
		transition: opacity .3s ease-in-out;
		pointer-events: none;

		.form-control__wrap:not(.empty) .form-control__textarea:valid ~ &,
		.form-control__textarea.filled ~ & {
			opacity: 1;
			pointer-events: all;
		}
	}
}