{% macro selector(class) %}
<div class="range-slider__wrap{{' ' + class if class}}">
	<div class="range-slider__title">
		<span>Age:</span> 2 &mdash; 10
	</div>
	<div class="range-slider">
		<span class="range-slider__control range-slider__control_left" style="left: 9%"></span>
		<div class="range-slider__line" style="left: 9%; right: 24%"></div>
		<span class="range-slider__control range-slider__control_right" style="left: 69%"></span>
	</div>

	<div class="range-slider__score">
		<span class="range-slider__score-item">0</span>
		<span class="range-slider__score-item"></span>
		<span class="range-slider__score-item">8</span>
		<span class="range-slider__score-item"></span>
		<span class="range-slider__score-item">15+</span>
	</div>
</div>
{% endmacro %}