{% from "../ui/tag-box.html" import tagBox%}

<div class="filter-cat">
	<div class="filter-cat__box filter-cat__box_left">
		<div class="filter-cat__title">Filter by Category and Options:</div>

		{{tagBox(['Museums'])}}
		{#
		{{tagBox(['Museums', 'Gratis', 'Hesteveddeløp'], '', '', 'Add Filter Tags', ['free'], 'AlexP')}}
		#}
	</div>

	<div class="filter-cat__box filter-cat__box_right">

		{{ btn.main(
				'Add activity', 
				'add-event', 
				'', 
				'btn_md filter-cat__btn')}}

		{{ form.switch(
				'Table View', 
				true, 
				"switch_bottom", 
				'filter-cat__switch') }}
	
		{{ form.select({
				placeholder: 'Latest', 
				items: [
					'Title', 
					'Approval Status', 
					'Popularity',
					'Mest for'], 
				icon: 'sort-asc' },
				'native-select_sm filter-cat__select') }}
	</div>
</div>