.header {

  @media (max-width: 480px) {
    background:#f6f6f6;
    border-bottom:1px solid #f0f0f0;
  
  }
  max-width: 1170px;
  display: flex;
  flex: 100%;
  padding: 20px;
  color: @dark-grey;
  margin-bottom: 10px;
  align-items: flex-start;
  justify-content: space-between;

  &__slogo {

    @media (max-width: 480px) {
      display: none;
    }

  }

  &__name {
    color: @rose;
    font-weight: 700;
  }
  @media (max-width: 767px) {
  }
}
