.wrap {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  @media (max-width: 490px) {
		max-width: 100%;  		
  }

}

.content-block {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  margin-bottom: 20px;

  @media (max-width: 480px) {
    margin-left:auto;
    margin-right:auto;
  }

  &__box {
    display: flex;
    padding: 20px;
    margin: auto;
    border-bottom: 1px solid #e2e2e2;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }

  &__title {
    text-align: left;
    color: #6c6c6c;
    font-size: 24px;
  }
  
  &__num {
    font-family: "Avenir";
  }

  &__btns {
    display: flex;
  }
}

.main {
  flex: 1 0 90%;
  max-width: 90%;
  margin: auto; 
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  align-content: flex-start;
  padding-left: 150px;

  @media (max-width: 480px) {
    padding:20px;
    max-width: 100%;		
  }
  
  &_wrapper {
    display: flex;
    flex: 100%;
    justify-content: space-between;

    @media (max-width: 480px) {
      flex-wrap: wrap;
    }

    &__col {
      flex: 50%;
      max-width: 50%;

      @media (max-width: 480px) {
        max-width: 100%;	
        flex:100%;	
      }
    }
  }
  
  
}

