.wrap {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  padding-left:150px;

  @media (max-width: 600px) {
    max-width: 100%;  	
    padding-left:0px;	    
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    display: block    
 }

}

.main {
  flex: 1 0 90%;
  max-width: 90%;
  margin: auto; 
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  align-content: flex-start;

  @media (max-width: 600px) {
    padding:20px;
    max-width: 100%;		
  }
  
  &_wrapper {
    display: flex;
    flex: 100%;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-wrap: wrap;
    }
  }
  &_wrapper__col {
      flex: 50%;
      max-width: 50%;

      @media (max-width: 600px) {
        max-width: 100%;	
        flex:100%;	
      }
  }
  
  
}

