.left-menu{
  flex: 150px;
  min-width: 150px;
  height: 100%;
  background-color: @rose;
  min-height: 100vh;
  &__menu{
    list-style: none;
    padding: 0;
    &-items{
        height: 112px;
        text-align: center;
        color:#fff;
        border-bottom:1px solid  #fa759a;
        border-top:1px solid  #de597f;
        border-right:1px solid  #de597f;
        position: relative;
        a{
          position: absolute;
          width: 100%;
          height: 100%;
          left:0;
          line-height: 120px;
        }
    }
  } 


  
}