.social-feed {
  // .social-feed__body
  margin-left: 10px;

  &__body {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 522px;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__listitem {
    border-bottom: 1px solid #ccc;
    padding: 20px;
  }

  &__user {
    display: flex;
  }
  
  &__user-picture {
    border: 1px solid #ccc;
    margin-right: 15px;
    border-radius: 50%;
  }

  &__uplink {
    color: #f5638c;
  }

  &__username {
    color: #f5638c;
    margin-bottom: 9px;
    font-weight: 700;
  }

  &__userdate {
    color: #605e5e;
  }

  &__message {
    line-height: 30px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  .update_btn {
    margin-left: 18px;
  }
}
