.transaction-history {
  margin-left: 20px;
  flex: 70%;

  &__body {
  }

  // .transaction-history__table-head

  &__table-head {
    background: #fcfcfc;
  }

  // .transaction-history__table-sort

  &__table-sort {
  }

  // .transaction-history__table-content

  &__table-content {
  }

  // .transaction-history__table-row

  &__table-row {
  }

  // .transaction-history__time

  &__time {
  }
}
