{% extends "./_base.html"  %}

{% block page_body %}
  <div class="app__box">
    <div class="app__mask"></div>
      <aside class="app__aside">
        <a href="./" class="logo">
          <img src="./images/logo.svg" alt="BarnasNorge.no">
          {% block logo %}  {% endblock %}
        </a>

        <nav class="nav__box app__nav">
          {% block menu %} {% endblock %}
        </nav>
        
        <div class="copyright">{{copyright}}</div>
      </aside>
      <div class="app">
        <header class="app__header">
         <div class="app__logo">
           <a href="/" class="logo logo_mob">BarnasNorge.no</a>
         </div>

         <div class="emotion-box">{% block emotion %}Welcome back, <a href="">Peter F. Tschudi</a>, we have 2 new activities!{% endblock %}</div>

         <a href="#" class="header__link icon-world">
          Open the Site
         </a>
         <a href="#" class="header__link header__link_mb icon-switch">
           <span>Logout</span>
         </a>

         <div class="menu">
           <a href="#" class="menu__link js-menu-link icon-menu">
             <span>Menu</span>
           </a>
         </div>
       </header>
       <main class="app__content">
        <div class="content__wrp content__wrp_wh">
          <div class="filter-head">
            {% block filterHead %} {% endblock %}
          </div>

          <div class="content">
            {% block content %} {% endblock %}
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}